# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
ServerStatusNotifierBukkit/*.class

# Log file
ServerStatusNotifierBukkit/*.log

# BlueJ files
ServerStatusNotifierBukkit/*.ctxt

# Mobile Tools for Java (J2ME)
ServerStatusNotifierBukkit/.mtj.tmp/

# Package Files #
ServerStatusNotifierBukkit/*.jar
ServerStatusNotifierBukkit/*.zip
ServerStatusNotifierBukkit/*.tar.gz
ServerStatusNotifierBukkit/*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
ServerStatusNotifierBukkit/hs_err_pid*
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
ServerStatusNotifierBukkit/.idea/
ServerStatusNotifierBukkit/.gradle/
ServerStatusNotifierBukkit/gradle/

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
# .idea/modules.xml
# .idea/*.iml
# .idea/modules

# File-based project format
ServerStatusNotifierBukkit/*.iws

# IntelliJ
ServerStatusNotifierBukkit/out/

# mpeltonen/sbt-idea plugin
ServerStatusNotifierBukkit/.idea_modules/

# Editor-based Rest Client
ServerStatusNotifierBukkit/.idea/httpRequests
### NetBeans template
ServerStatusNotifierBukkit/nbproject/private/
ServerStatusNotifierBukkit/build/
ServerStatusNotifierBukkit/nbbuild/
ServerStatusNotifierBukkit/dist/
ServerStatusNotifierBukkit/nbdist/
ServerStatusNotifierBukkit/.nb-gradle/
### Eclipse template

ServerStatusNotifierBukkit/.metadata
ServerStatusNotifierBukkit/bin/
ServerStatusNotifierBukkit/tmp/
ServerStatusNotifierBukkit/*.tmp
ServerStatusNotifierBukkit/*.bak
ServerStatusNotifierBukkit/*.swp
ServerStatusNotifierBukkit/*~.nib
ServerStatusNotifierBukkit/local.properties
ServerStatusNotifierBukkit/.settings/
ServerStatusNotifierBukkit/.loadpath
ServerStatusNotifierBukkit/.recommenders

# External tool builders
ServerStatusNotifierBukkit/.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
ServerStatusNotifierBukkit/*.launch

# Java annotation processor (APT)
ServerStatusNotifierBukkit/.factorypath

# PDT-specific (PHP Development Tools)
ServerStatusNotifierBukkit/.buildpath

# sbteclipse plugin
ServerStatusNotifierBukkit/.target

# Tern plugin
ServerStatusNotifierBukkit/.tern-project

# TeXlipse plugin
ServerStatusNotifierBukkit/.texlipse

# STS (Spring Tool Suite)
ServerStatusNotifierBukkit/.springBeans

# Code Recommenders
ServerStatusNotifierBukkit/.recommenders/

# Annotation Processing
ServerStatusNotifierBukkit/.apt_generated/

# Built application files
ServerStatusNotifier/*.apk
ServerStatusNotifier/*.ap_
ServerStatusNotifier/*.aab

# Files for the ART/Dalvik VM
ServerStatusNotifier/*.dex

# Java class files
ServerStatusNotifier/*.class

# Generated files
ServerStatusNotifier/bin/
ServerStatusNotifier/gen/
ServerStatusNotifier/out/

# Gradle files
ServerStatusNotifier/.gradle/
ServerStatusNotifier/gradle/
ServerStatusNotifier/build/

# Local configuration file (sdk path, etc)
ServerStatusNotifier/local.properties

# Proguard folder generated by Eclipse
ServerStatusNotifier/proguard/

# Log Files
ServerStatusNotifier/*.log

# Android Studio Navigation editor temp files
ServerStatusNotifier/.navigation/

# Android Studio captures folder
ServerStatusNotifier/captures/

# IntelliJ
ServerStatusNotifier/*.iml
ServerStatusNotifier/.idea

# Keystore files
# Uncomment the following lines if you do not want to check your keystore files in.
#*.jks
#*.keystore

# External native build folder generated in Android Studio 2.2 and later
ServerStatusNotifier/.externalNativeBuild

# Google Services (e.g. APIs or Firebase)
ServerStatusNotifier/google-services.json

# Freeline
ServerStatusNotifier/freeline.py
ServerStatusNotifier/freeline/
ServerStatusNotifier/freeline_project_description.json

# fastlane
ServerStatusNotifier/fastlane/report.xml
ServerStatusNotifier/fastlane/Preview.html
ServerStatusNotifier/fastlane/screenshots
ServerStatusNotifier/fastlane/test_output
ServerStatusNotifier/fastlane/readme.md
